/*MAIN SCOPE*/
body {
    width: 100%;
    height: 100%;
    background-color: #1E2123;
    margin: 0;
    padding: 0;
}

/*FIRST PAGE*/
#game-menu, #level-intro, #game {
    width: 100%;
    height: 100%;
}

#game-menu {
    text-align: center;
    padding-top: 20%;
}

#game-menu .text {
    color: #A2ABB1;
    font-family: Righteous, serif;
}

#game-menu .title {
    font-size: 69px;
}

#game-menu .subtitle {
    margin-top: 30px;
    font-size: 24px;
    color: darkred;
    font-weight: bolder;
}

#game-menu .loading {
    margin-top: 50px;
    font-size: 14px;
}

#game-menu .process {
    border-bottom: 2px dotted #A2ABB1;
    margin: 50px auto;
}

#conversation {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: none;
}

#conversation #display {
  width: 70%;
  height: 85vh;
  position: relative;
  margin: auto;
  background-color: #9DA0A2;
  -moz-box-shadow:    inset 0 0 20px #000000;
  -webkit-box-shadow: inset 0 0 20px #000000;
  box-shadow:         inset 0 0 20px #000000;
}

#conversation #display .left-dog {
  position: absolute;
  width: 30%;
  top: 100px;
  left: 100px;
}

#conversation #display .pukich {
  position: absolute;
  width: 20%;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

#conversation #display .right-dog {
  transform:scaleX(-1);
  position: absolute;
  width: 30%;
  top: 100px;
  right: 100px;
}

#conversation #messages-list {
  width: 60%;
  height: 200px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  background-color: white;
  border: 5px double black;
}

#conversation #messages-list .message {
  padding: 15px 10px 15px 50px;
  font-size: 25px;
  font-family: Righteous, serif;

  -webkit-transition: font-size 0.1s;
  transition: font-size 0.1s;
}

#conversation #messages-list .message:hover {
  cursor: pointer;
  font-size: 30px;
  padding: 15px 10px 15px 50px;
  color: red;
}

/*ANIMATIONS*/

.animated {
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 6s steps(60, end) infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
