/*MAIN SCOPE*/
body {
    width: 100%;
    height: 100%;
    background-color: #1E2123;
    margin: 0;
    padding: 0;
}

canvas {
    margin: 30px auto 0;
}

/*FIRST PAGE*/
#game-title, #level-intro, #game {
    width: 100%;
    height: 100%;
}

#game-title {
    text-align: center;
    padding-top: 20%;
    z-index: 1;
}

#game-title .text {
    color: #A2ABB1;
    font-family: Righteous, serif;
}

#game-title .title {
    font-size: 69px;
}

#game-title .subtitle {
    margin-top: 30px;
    font-size: 24px;
    color: darkred;
    font-weight: bolder;
}

#game-title .loading {
    margin-top: 50px;
    font-size: 14px;
}

#game-title .process {
    border-bottom: 2px dotted #A2ABB1;
    margin: 50px auto;
}

#conversation {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: none;
}

#conversation #display {
  width: 70%;
  height: 85vh;
  position: relative;
  margin: auto;
  background-color: #9DA0A2;
  -moz-box-shadow:    inset 0 0 20px #000000;
  -webkit-box-shadow: inset 0 0 20px #000000;
  box-shadow:         inset 0 0 20px #000000;
}

#conversation #display .left-dog {
  position: absolute;
  width: 30%;
  top: 100px;
  left: 100px;
}

#conversation #display .pukich {
  position: absolute;
  width: 20%;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

#conversation #display .right-dog {
  transform:scaleX(-1);
  position: absolute;
  width: 30%;
  top: 100px;
  right: 100px;
}

#conversation #messages-list {
  width: 60%;
  height: 200px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  background-color: white;
  border: 5px double black;
}

#conversation #messages-list .message {
  padding: 15px 10px 15px 50px;
  font-size: 25px;
  font-family: Righteous, serif;

  -webkit-transition: font-size 0.1s;
  transition: font-size 0.1s;
}

#conversation #messages-list .message:hover {
  cursor: pointer;
  font-size: 30px;
  padding: 15px 10px 15px 50px;
  color: red;
}
/*LEVEL INTRO*/

#level-intro {
    background-color: #1E2123;
    z-index: 2;
}

#level-intro .intro-container {
    margin: 100px auto;
    margin-bottom: 30px;
    border-bottom: 2px solid white;
    padding: 20px 100px 5px 100px;
    border-top: 2px solid white;
    overflow: auto;
}

#level-intro .intro-container .intro-boss {
    padding: 25px;
    overflow: hidden;
}

#level-intro .intro-container .intro-boss #intro-boss-text {
    font-size: 24px;
    text-align: left;
    color: #A2ABB1;
    margin-left: 50px;
    float: left;
    font-family: Righteous, serif;
}

#level-intro .intro-container .intro-boss #intro-boss-icon {
    height: 100px;
    width: 100px;
    border-radius: 2px;
    float: left;
    border: 5px outset rgba(0, 255, 0, 0.3);
}

#level-intro .intro-map {
    width: 100%;
    overflow: auto;
}

#level-intro .intro-map #intro-map-icon {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    display: block;
}

#level-intro .controls {
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

#level-intro #start-game-button {
    margin-top: 10px;
    font-size: 24px;
    font-family: Righteous, serif;
    color: #A2ABB1;
}

#level-intro #start-game-button:hover {
    color: white;
    cursor: pointer;
}

/*ANIMATIONS*/

.animated {
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 6s steps(60, end) infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
